Source: libmemnotifyqt
Section: libs
Priority: optional
Maintainer: Leonid Moiseichuk <leonid.moiseichuk@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.5), libqt4-test (>= 4.5), doxygen, graphviz, cdbs, dejavu-fonts 
Standards-Version: 3.8.0

Package: libmemnotifyqt1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, memnotify-settings
Description: Memory Notification library Qt-style.
 The libmemnotifyqt implements a notification for memory usage events
 according to levels specified in control file.

Package: libmemnotifyqt-dev
Section: libdevel
Architecture: any
Depends: libmemnotifyqt1 (= ${binary:Version}), libqt4-dev (>= 4.5), ${misc:Depends}
Recommends: libmemnotifyqt-doc
Description: Memory Notification library Qt-style.
 Development package for Memory Notification.

Package: libmemnotifyqt1-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libmemnotifyqt1 (= ${binary:Version}), ${misc:Depends}
Description: Memory Notification library Qt-style. Debugging package.
 Debug package for Memory Notification.

Package: libmemnotifyqt-doc
Section: doc
Architecture: any
Recommends: libmemnotifyqt-dev (= ${binary:Version}), ${misc:Depends}
Description: Memory Notification library Qt-style. Documentation for developers.
 Documenation for Memory Notification.

Package: libmemnotifyqt-test
Section: libdevel
Priority: extra
Architecture: any
Depends: libmemnotifyqt1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Memory Notification library Qt-style. Testing files.
 Tests for Memory Notification.

Package: memnotify-settings-default
Section: libs
Priority: extra
Architecture: any
Provides: memnotify-settings
Description: Memory Notification library Qt-style. Default settings.
 Default policy settings for memnotify.
