#!/usr/bin/make -f

export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_DH_INSTALL_SOURCEDIR := debian/tmp

clean::
	rmdir doc/html src/{release,debug} ||:
